body{
background-color: darkslategray;
    font-family: Arial, Helvetica, sans-serif;
}
div{

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
button{
    font-size: 30px;
}